<h2>Liste des demandes</h2>
    <select #status (change)="onSelected(status.value)">
        <option default value="">Toutes</option>
        <option value="PENDING">En cours de traitement</option>
        <option value="ACCEPTED">Acceptées</option>
        <option value="REFUSED">Refusées</option>
        <option value="RELOCATING">En attente d'un nouveau local</option>
    </select>
<ul>
    <li *ngFor="let request of requests">
        <a routerLink="{{request.id}}"><h4> {{request.id}} </h4></a>
        <p>Date : {{request.date}} </p>
        <p>Heure de début : {{request.beginTime}} </p>
        <p>Heure de fin : {{request.endTime}} </p>
        <p *ngIf ="status.value==''">Statut : {{request.currentStatus}} </p>
        <p>Demandeur : {{request.madeBy}} </p>
    </li>
</ul>
